@import "./utils/mixins";
@import "./utils/vars";
@import "./utils/reset";
@import "./blocks/page";
@import "./blocks/grid";
@import "./blocks/logo";
@import "./blocks/icon";
@import "./blocks/container";
@import "./blocks/header";
@import "./blocks/menu";
@import "./blocks/nav";
@import "./blocks/button";
@import "./blocks/slider";
@import "./blocks/strategic-agency";
@import "./blocks/who-we-are";
@import "./blocks/our-expertise";
@import "./blocks/place";
@import "./blocks/process";
@import "./blocks/process-cards";
@import "./blocks/testimonials";
@import "./blocks/testimonials-cards";
@import "./blocks/vision";
@import "./blocks/send-message";
@import "./blocks/form-field";
@import "./blocks/black-container";
@import "./blocks/contacts";
@import "./blocks/footer";

main {
  margin-top: -1px;
  margin-bottom: -1px;
}

@font-face {
  font-family: Open-sans;
  src: url(../fonts/OpenSans-400Regular.ttf);
}

@font-face {
  font-family: Open-sans;
  src: url(../fonts/OpenSans-600SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-600SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Open-sans;
  src: url(../fonts/Poppins-700Bold.ttf);
  font-weight: bold;
}
